@mixin buttonSize($size) {
  width: $size;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin roundedCorner {
  border-radius: 6px;
}

@mixin rounderCornerLeft {
  border-radius: 6px 0px 0px 6px;
}

@mixin rounderCornerRight {
  border-radius: 0px 6px 6px 0px;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}