@use '/src/components/sass/colors';
@use '/src/components/sass/mixins';

.data-table-wrapper {
  margin: 2rem 0;
  width: 100%;
  .data-table {
    width: 100%;
    border-collapse: collapse;
    
    td,
    th {
      border: 2px solid colors.$border-gray;
      padding: 10px;
    }

    th {
      background-color: #fff;
    }

    tr:nth-child(even){background-color: colors.$background-gray;}
  }
}
