@use '/src/components/sass/colors';
@use '/src/components/sass/mixins';

.filter-bar {
  @include mixins.flexRow;
  width: 100%;
  justify-content: space-between;
  margin-top: 1.8rem;

  &__left {
    width: 800px
  }

  &__right {
    @include mixins.flexRow;
    width: 1200px;
    justify-content: flex-end;
    align-items: center;

    .right__dropdown {
      display: flex;
      height: 100%;
      margin-left: 10px;
    }

    .right__label {
      margin-right: 5px;
      color: colors.$text-gray;
    }

    .right-input {
      height: 100%;
      margin-left: 10px;
    }
  }
}