@use '/src/components/sass/colors';
@use '/src/components/sass/mixins';

.dropdown-wrapper {
  @include mixins.roundedCorner;
  background-color: colors.$background-gray;
  border: 1px solid colors.$border-gray;
  width: fit-content;
  padding: 0 0.5rem;
}

.dropdown {
  width: 200px;
  
  cursor: pointer;
  padding: 0.7rem 0.6rem;
  background-color: colors.$background-gray;
  border: transparent;
  outline: none;

  color: colors.$text-gray;
}